$scrollBarHeight: 1px;

::-webkit-scrollbar {
    width: $scrollBarHeight;
    height: $scrollBarHeight;
}

::-webkit-scrollbar-button {
    width: $scrollBarHeight;
    height: $scrollBarHeight;
}

.container__creatures {
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(29, 29, 29);

    position: fixed;
    left: 0;
    width: 100vh;
    height: calc(100vw);

    overflow: scroll;
    transform: rotate(-90deg);
    transform-origin: center calc(50vh);


}