<footer class="footer-wrapper">
    {{ function('wp_footer') }}
    <div class="container footer_container">
        <div class="row">
            <div class="col-12 col-md-6">{{ widget_left_footer }}</div>
            <div class="col-12 col-md-6">{{ widget_right_footer }}</div>
        </div>
    </div>
</footer>


</html>