{% extends('index.twig') %}

{% block body %}

    <div class="main-wrapper">
        <!-- page content -->
        <div class="container">

            <!-- cards level 1-->
            <div class="row">
                <!-- card 1.1 -->
                <div class="col-12 col-md-3">
                    <aside id="%1$s" class="widget %2$s">
                        {{ left_sidebar}}
                    </aside>
                </div>
                <div class="col-12 col-md-9">
                    <h2>Want to become a big fan?</h2>

                    {% filter shortcodes %}
                        [contact-form-7 id="88" title="Contact form 1"]
                    {% endfilter %}
                </div>


            </div>
            <!-- end row-->

        </div>
        <!-- end container-->
    </div>
    <!-- end main-wrapper-->

{% endblock %}
